.section-1 {
  width: 100%;
  height: 650px;

  display: flex;
}

.section-1__left {
  width: 610px;
  height: 100%;

  background-color: $clr-primary-300;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.section-1__left::before {
  content: '';
  background-image: $clr-gradient-1;
  position: absolute;
  width: 6px;
  height: 304px;

  top: 27%;
  left: 0;
}

.section-1__content {
  width: 387px;
  height: 304px;

  display: flex;
  flex-direction: column;

  justify-content: space-between;
}

.section-1__left .h1 {
  color: $clr-primary-100;
}

.section-1__left .body {
  color: $clr-primary-100;
}

.section-1__right img {
  // content: url('../img/home/desktop/create-and-share.jpg');

  width: 830px;
  height: 650px;
}

/* Section 1 END */

.section-2 {
  width: 100%;
  height: 650px;

  display: flex;
}

.section-2__left img {
  // content: url('../img/home/desktop/beautiful-stories.jpg');

  width: 830px;
  height: 650px;
}

.section-2__right {
  width: 610px;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.section-2__content {
  width: 387px;
  height: 329px;

  display: flex;
  flex-direction: column;

  justify-content: space-between;
}

/* Section 2 END */

.section-3 {
  width: 100%;
  height: 650px;

  display: flex;
}

.section-3__left {
  width: 610px;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.section-3__content {
  width: 387px;
  height: 329px;

  display: flex;
  flex-direction: column;

  justify-content: space-between;
}

.section-3__right img {
  // content: url('../img/home/desktop/designed-for-everyone.jpg');

  width: 830px;
  height: 650px;
}

// Section 4

.story-1 {
  background-image: url('../img/stories/desktop/mountains.jpg');

  color: $clr-primary-100;
}

.story-2 {
  background-image: url('../img/stories/desktop/cityscapes.jpg');

  color: $clr-primary-100;
}

.story-3 {
  background-image: url('../img/stories/desktop/18-days-voyage.jpg');

  color: $clr-primary-100;
}

.story-4 {
  background-image: url('../img/stories/desktop/architecturals.jpg');

  color: $clr-primary-100;
}

@media screen and (min-width: 1550px) {
  .section-1__left {
    width: 1110px;
  }

  .section-2__right {
    width: 1110px;
  }

  .section-3__left {
    width: 1110px;
  }

  .section-4 {
    width: 1440px;
  }
}
