.three-columns {
  width: 1110px;
  height: 236px;

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;
  column-gap: 30px;

  @include mq('md') {
    flex-direction: column;
    // column-gap: 0;
    row-gap: 60px;
  }

  @include mq('lg') {
    flex-direction: row;
    // column-gap: 0;
    row-gap: 60px;
  }
}

.column {
  width: 350px;
  height: 236px;

  text-align: center;

  & h4 {
    padding-top: 48px;
  }

  &:nth-child(2) {
    width: 350px;
    height: 218px;

    text-align: center;

    & h4 {
      padding-top: 66px;
    }
  }
}
