.grid-container__4 {
  width: 768px;
  margin-inline: auto;

  display: grid;
  position: relative;
  gap: 0;

  @include mq('lg') {
    grid-template-columns: repeat(4, 360px);
  }

  @include mq('md') {
    grid-template-columns: repeat(2, 379px);
    grid-template-rows: repeat(2, 500px);
  }
}

.grid-container__full {
  width: 100%;
  margin-inline: auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);

  position: relative;
}

.grid {
  background-color: none;
  border: none;

  position: relative;

  cursor: pointer;
  transition: all ease 0.2s;

  @include mq('lg') {
    width: 360px;
    height: 500px;
  }

  @include mq('md') {
    width: 379px;
    height: 500px;
  }
}

.grid::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.66), rgba(0, 0, 0, 0.2));
  z-index: 1;
}

.grid:hover {
  transform: translateY(-25px);
}

.grid:hover:after {
  position: absolute;
  content: '';

  background-image: $clr-gradient-1;
  height: 6px;
  width: 360px;

  bottom: 0;
  left: 0;
  z-index: 100;
}

.grid-content {
  position: absolute;

  bottom: 30px;
  left: 35px;

  width: 280px;

  margin-top: auto;

  text-align: left;
  color: $clr-primary-100;

  z-index: 10;
}

.grid-text {
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.grid-btn {
  width: 280px;

  display: flex;
  justify-content: space-between;

  padding-top: 17px;
}

// Three Columns
