.h1 {
  font-family: $ff-main;
  font-size: 40px;

  line-height: 48px;
  letter-spacing: 4.17px;

  text-transform: uppercase;

  @include mq('sm') {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 3.33px;
  }
}

.h2 {
  font-family: $ff-main;
  font-size: 24px;

  line-height: 25px;
}

.h3 {
  font-family: $ff-main;
  font-size: 18px;

  line-height: 25px;
}

.h4 {
  font-family: $ff-main;
  font-size: 12px;

  line-height: 16px;
  letter-spacing: 2px;
}

.body {
  font-size: 15px;
  line-height: 25px;

  color: rgba($color: #000000, $alpha: 0.6);
}

.arrows {
  width: 42px;
  height: 12px;

  filter: brightness(0) saturate(100%) invert(100%) sepia(18%) saturate(429%)
    hue-rotate(161deg) brightness(113%) contrast(115%);
}

.arrows-dark {
  width: 42px;
  height: 12px;
}
