.btn-dark {
  font-family: $ff-main;
  font-size: 12px;

  letter-spacing: 2px;
  text-transform: uppercase;

  color: $clr-primary-300;
}

.btn-dark:hover {
  border-bottom: 1px solid $clr-primary-300;
}

.btn-light {
  font-family: $ff-main;
  font-size: 12px;

  letter-spacing: 2px;
  text-transform: uppercase;

  color: $clr-primary-100;
}

.btn-light:hover {
  border-bottom: 1px solid $clr-primary-100;
}

.section-links {
  width: 205px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-primary {
  background-color: $clr-primary-300;
  color: $clr-primary-100;

  padding: 10px 23px;

  display: flex;
  align-items: center;
  justify-content: center;

  text-transform: uppercase;
  letter-spacing: 2px;

  transition: all ease 0.3s;
}

.btn-primary:hover {
  background-color: #dfdfdf;
  color: $clr-primary-300;
}

.btn {
  background-color: none;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;

  text-transform: uppercase;
  cursor: pointer;

  transition: all ease 0.3s;

  font-size: 12px;
  font-family: $ff-main;

  letter-spacing: 2px;
}

.btn-black {
  background-color: $clr-primary-300;
  color: $clr-primary-100;

  width: 270px;
  height: 40px;
}

.btn-white {
  background-color: $clr-primary-100;
  color: $clr-primary-300;

  width: 270px;
  height: 40px;
}

.btn-black:hover {
  background-color: #dfdfdf;
  color: $clr-primary-300;
}

.btn-white:hover {
  background-color: #dfdfdf;
  color: $clr-primary-300;
}
