.btn-dark {
  font-family: var(--ff-main);
  font-size: 12px;

  letter-spacing: 2px;
  text-transform: uppercase;

  color: var(--clr-primary-300);
}

.btn-dark:hover {
  border-bottom: 1px solid var(--clr-primary-300);
}

.btn-light {
  font-family: var(--ff-main);
  font-size: 12px;

  letter-spacing: 2px;
  text-transform: uppercase;

  color: var(--clr-primary-100);
}

.btn-light:hover {
  border-bottom: 1px solid var(--clr-primary-100);
}

.section-links {
  width: 205px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-primary {
  background-color: var(--clr-primary-300);
  color: var(--clr-primary-100);

  padding: 10px 23px;

  display: flex;
  align-items: center;
  justify-content: center;

  text-transform: uppercase;
  letter-spacing: 2px;

  transition: all ease 0.3s;
}

.btn-primary:hover {
  background-color: #dfdfdf;
  color: var(--clr-primary-300);
}
