@import './base';
@import './variables';
@import './resets';
@import './partials';

@import './generic';

@import './layouts';
@import './buttons';

.main-story {
  width: 1440px;
  height: 650px;

  background-image: url('../img/stories/desktop/moon-of-appalacia.jpg');
}

.main-story__content {
  color: $clr-primary-100;

  width: 387px;
}

.last-feature {
  font-size: 12px;
  font-family: $ff-main;

  letter-spacing: 2px;
  text-transform: uppercase;
}

.grid-1 {
  background-image: url('../img/stories/desktop/mountains.jpg');
}

.grid-2 {
  background-image: url('../img/stories/desktop/cityscapes.jpg');
}

.grid-3 {
  background-image: url('../img/stories/desktop/18-days-voyage.jpg');
}

.grid-4 {
  background-image: url('../img/stories/desktop/architecturals.jpg');
}

.grid-5 {
  background-image: url('../img/stories/desktop/world-tour.jpg');
}

.grid-6 {
  background-image: url('../img/stories/desktop/unforeseen-corners.jpg');
}

.grid-7 {
  background-image: url('../img/stories/desktop/king-on-africa.jpg');
}

.grid-8 {
  background-image: url('../img/stories/desktop/trip-to-nowhere.jpg');
}

.grid-9 {
  background-image: url('../img/stories/desktop/rage-of-the-sea.jpg');
}

.grid-10 {
  background-image: url('../img/stories/desktop/running-free.jpg');
}

.grid-11 {
  background-image: url('../img/stories/desktop/behind-the-waves.jpg');
}

.grid-12 {
  background-image: url('../img/stories/desktop/calm-waters.jpg');
}

.grid-13 {
  background-image: url('../img/stories/desktop/milky-way.jpg');
}

.grid-14 {
  background-image: url('../img/stories/desktop/dark-forest.jpg');
}

.grid-15 {
  background-image: url('../img/stories/desktop/somwarpet.jpg');
}

.grid-16 {
  background-image: url('../img/stories/desktop/land-of-dreams.jpg');
}
