footer {
  width: 100%;
  @include mq('lg') {
    height: 250px;
  }

  @include mq('md') {
    height: 284px;
  }

  background-color: $clr-primary-300;
  color: $clr-primary-100;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-inline: auto;

  @include mq('lg') {
    width: 1104px;
    height: 122px;

    padding-top: 4rem;
  }

  @include mq('md') {
    width: 689px;
    height: 156px;

    padding-top: 4rem;
  }
}

.footer-left {
  display: flex;

  column-gap: 60px;
}

.img-socials {
  display: flex;
  flex-direction: column;

  height: 122px;

  justify-content: space-between;

  & img {
    filter: $clr-filter;
  }
}

.socials {
  display: flex;
  justify-content: space-between;
  width: 154px;

  & img {
    filter: $clr-filter;

    cursor: pointer;

    &:hover {
      filter: none;
    }
  }
}

.footer-nav ul {
  width: 250px;
  height: 120px;

  display: flex;
  flex-direction: column;

  justify-content: space-between;

  & li a {
    color: $clr-primary-100;

    font-family: $ff-main;
    font-size: 12px;
    letter-spacing: 2px;

    text-transform: uppercase;

    &:hover {
      color: rgba(255, 255, 255, 0.3);
    }
  }
}

.link-copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 122px;
}

.link-btn {
  display: flex;
  flex-direction: row;
  align-items: center;

  justify-content: space-between;

  width: 168px;
}

.link-copyright a {
  font-size: 12px;
  font-family: $ff-main;

  text-transform: uppercase;
  letter-spacing: 2px;

  color: $clr-primary-100;
}

.link-copyright a:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.copyright {
  color: rgba(255, 255, 255, 0.5);

  font-size: 15px;
  font-family: $ff-secondary;
}
