.navbar {
  height: 72px;
  width: 100%;

  display: flex;
  align-items: center;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 1110px;
  margin-inline: auto;
}

.navbar-toggle {
  display: none;
}

.navbar-menu {
  display: flex;
  width: 700px;

  justify-content: space-between;
  align-items: center;
}

.navbar-nav {
  display: flex;

  width: 269px;
  justify-content: space-around;
}

.navbar-link {
  text-transform: uppercase;
  color: $clr-primary-300;

  font-family: $ff-main;
  letter-spacing: 2px;
  font-size: 12px;

  transition: all ease 0.3s;
}

.navbar-link:hover {
  color: rgba($clr-primary-300, 0.3);
}

@media screen and (min-width: 768px) {
  .navbar-container {
    width: 700px;
  }

  .navbar-menu {
    width: 470px;
  }
}

@media screen and (min-width: 1439px) {
  .navbar-container {
    width: 1100px;
  }

  .navbar-menu {
    width: 700px;
  }
}
